<header>
  <div class="header">
    <img src="header_logo/logo.png" alt="Logo" class="header-logo" />
    <a href="https://steamforvietnam.org/">
      <button class="button-1">Homepage</button>
    </a>
  </div>
</header>
<div class="container">
  <div class="input-container">
    <input type="text" id="whepUrl" [(ngModel)]="whepUrl" placeholder="Enter WHEP URL" />
    <button (click)="play()" class="button-1">Play</button>
    <button (click)="stop()" class="button-1">Stop</button>
  </div>
  <div id="video-container">
    <video id="webrtc-player" #videoPlayer muted autoplay playsinline controls></video>
  </div>
</div>
